//Fonts
$default-font: 'Noto Sans KR', sans-serif;

//PRIMARY COLORS

$black-222: #222222;

$grey-CF: #CFCFCF;

//buttons

//Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 767px;

// Tablets and small desktops
$screen-lg-min: 991px;

// Large tablets and desktops
$screen-xl-min: 1199px;

$shadow1: 1px -1px 11px 0px rgba(0, 0, 0, 0.1);
$shadow2: 0px 4px 10px 0px rgba(0,0,0,0.2);